
:root {
    --bg: #e7e9f2;
    --bg-lighter: #eff0f5;
    --bg-accent: hsl(225, 68%, 52%);
    --bg-accent-2: #8eabff;
    --bg-accent-lighter: #446be0;

    --bg-gray: #f0f0f0;
    --fg-gray: #666;
    --bg-gray-hover: #e0e0e0;
    --fg-gray-hover: var(--fg-gray);

    --bg-lightblue: hsl(229deg, 67%, 92%);
    --fg-lightblue: hsl(225, 68%, 52%);

    --bg-lightblue-hover: hsl(229deg, 77%, 87%);
    --fg-lightblue-hover: hsl(225, 68%, 42%);

    --bg-accent-hover: #85a4ff;
    --fg-accent-hover: #1b347d;

    --fg: #1e294b; 
    --fg-light: #dce6ff; 
    --fg-light-2: #cfdcfd;

    --max-width: 90ch;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;

    overflow-y: scroll;

    font-size: 17px;
    line-height: 1.5;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background: var(--bg);
    color: var(--fg);

    position: relative;
    padding-bottom: 4rem;
}

footer {
    position: absolute;
    bottom: 0;

    height: 4rem;
    background: #00000011;
    width: 100%;

    font-size: 1.15rem;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 100;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 1rem; */
}

.nav-wrapper {
    display: flex;
    justify-content: center;

    background-color: var(--bg-accent);
    color: var(--fg-light);

    width: 100%;
}

nav {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;

    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: var(--max-width);
}

.nav-group {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.nav-item {
    padding: 0.5rem 1rem;
    text-align: center;

    font-size: 1.25rem;
}

.nav-item.title {
    font-size: 1.85rem;
}

.nav-item:hover {
    background-color: var(--bg-accent-lighter);
    border-radius: 4px;
}

.main-picture {
    width: 100%;
    /* border-radius: 0; */
    /* max-width: 95vw; */
    /* max-width: 1300px; */
    /* margin-top: -2rem; */
    z-index: -1;

    /* max-height: 650px; */
    /* box-shadow: 0 0 8px #00000066; */
}


.homepage-section-1 {
    position: absolute;
    top: 50vh;
    transform: translate(0, -50%);    
}


p {
    margin: 0.5rem 0;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    /* margin: 1rem 0 -0.25rem; */
    /* margin: 1rem 0 0; */
}

h1:first-child, h2:first-child, h3:first-child {
    margin: 0;
}

h1:not(:first-child), h2:not(:first-child), h3:not(:first-child) {
    margin-top: 2rem;
}

pre, code {
    font-family: 'Source Code Pro', monospace;
    font-size: 17px;
}

button, input[type=submit], .button {
    display: inline-block;

    outline: none;
    text-decoration: none;

    padding: 0.5rem 2rem;

    transition: background-color 50ms ease-out, box-shadow 50ms ease-out;

    border-radius: 6px;
    border: none;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;

    max-width: 20rem;

    cursor: pointer;
}

/* Non Primary Buttons */
button:not(.primary), input[type=submit]:not(.primary), .button:not(.primary) {
    background: var(--bg-gray);
    color: var(--fg-gray);
    /* box-shadow: 0 0 4px 1px #00000022; */
    border: 1px solid #ccc;
}

button:not(.primary):hover, input[type=submit]:not(.primary):hover, .button:not(.primary):hover {
    background: var(--bg-gray-hover);
    color: var(--fg-gray-hover);
    /* box-shadow: 0 0 4px 1px #00000022; */
    border: 1px solid #ccc;
}

/* Primary Buttons */
button.primary, input[type=submit].primary, .button.primary {
    background: var(--bg-lightblue);
    color: var(--fg-lightblue);
    /* box-shadow: 0 0 4px 1px #00000022; */
    border: 1px solid hsl(229deg, 67%, 85%);
}

button.primary:hover, input[type=submit].primary:hover, .button.primary:hover {
    background: var(--bg-lightblue-hover);
    color: var(--fg-lightblue-hover);
    /* box-shadow: 0 0 4px 1px hsla(228, 76%, 65%, 0.5); */
    /* box-shadow: 0 0 4px 1px #00000022; */
    border: 1px solid hsl(229deg, 67%, 85%);
}

input[type=text], input[type=password] {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 17px;

    color: #222;
    
    padding: 0.4rem 0.5rem;

    box-sizing: border-box;
    
    outline: none;
    background: #fff;
    border: none;
    border-radius: 4px;

    box-shadow: inset 0 1px 2px 0 #00000044;

    transition: box-shadow 75ms ease-out;
    
    display: flex;
    align-items: center;

    width: 30rem;
    max-width: 100%;
    /* flex-grow: 1; */
}

input[type=text]:focus, input[type=password]:focus {
    /* border-color: var(--bg-accent); */
    box-shadow: inset 0 1px 2px 0.75px #00000044;
}


nav a, nav a:visited, nav a:hover {
    color: var(--fg-light);
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

@media screen and (max-width: 512px) {
    nav {
        gap: 0.5rem;
    }
    
    nav, .nav-group, .buttons {
        flex-direction: column;
    }
    
    button, input[type=submit], .button {
        width: 100%;
    }
    
    img {
        border-radius: 0;
    }
}

/* PAGE / */

#homepage-buttons {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;

    justify-content: center;

    margin: 1rem 0;
    gap: 1rem;
}

#homepage-buttons .button {
    padding-left: 4rem;
    padding-right: 4rem;
}

#homepage {
    max-width: 100%;
    position: relative;
}

#homepage-picture {
    width: 100%;
    z-index: -1;
}

#homepage-text {
    position: absolute;
    width: 33%;
    right: 0;
    top: 0;
    height: 100%;

    background: #ffffffdd;
    /* backdrop-filter: blur(4px); */
    padding: 2rem;
}

@media screen and (max-width: 512px) {
    #homepage-text {
        position: relative;
        width: unset;
        backdrop-filter: none;
        padding: 1rem;
    }   
}

/* PAGE /libri */

.books {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin: 1rem 0;
}

.book {
    padding: 1rem;

    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "title title num-copies" "infos . num-copies";
    
    border: 1px solid #a8b6ff;
    border-radius: 4px;

    max-width: 100%;
}

.book .title {
    grid-area: title;
    font-size: 1.25rem;
}

.book .informations {
    grid-area: infos;
    align-self: center;

    /* display: flex; */
    gap: 0.5rem;
}

.book .category {
    background: #ccc;
    color: #444;
    font-size: 90%;

    border-radius: 100px;
    padding: 0 0.5rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.book .num-copies {
    grid-area: num-copies;
    text-align: right;
    align-self: end;
}

@media screen and (max-width: 512px) {
    .book {
        display: flex;
        flex-direction: column;
    }
}

/* 
.books {
    display: grid;
    grid-template-columns: minmax(400px, auto) auto auto auto auto;
    grid-auto-rows: auto;
    gap: 0.5rem 1rem;

    width: 100%;
    max-width: 90vw;

    align-items: stretch;
    justify-items: stretch;
}

.books .name, .books .topic, .books .authors, .books .num-copies, .books .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    line-height: 1.25;
}

.books .name {
    grid-column: 1 / 2;
    padding: 0.25rem 1rem;
}

.books .topic {
    grid-column: 2 / 3;
    padding: 0.25rem 1rem;
}

.books .authors {
    grid-column: 3 / 4;
    padding: 0.25rem 1rem;
}

.books .num-copies {
    grid-column: 4 / 5;
    padding: 0 1rem;
    max-width: 10rem;
}

.books .actions {
    grid-column: 5 / 6;
    padding: 0.25rem;
    gap: 0.5rem;
}

.books .name::before, .books .topic::before,.books .authors::before, .books .num-copies::before {
    position: absolute;
    content: '';
    width: 1px;
    height: calc(100% + 0.5rem);
    right: -0.5rem;
    background: #00000044;
}

.books .name:not(:nth-child(1))::after,
    .books .topic:not(:nth-child(2))::after, 
    .books .authors:not(:nth-child(3))::after, 
    .books .num-copies:not(:nth-child(4))::after {
    position: absolute;
    content: '';
    width: calc(100% + 1rem);
    height: 1px;
    left: -0.5rem;
    top: calc(-0.25rem - 1px);
    background: #00000044;
}

.books .actions:not(:nth-child(5))::after {
    position: absolute;
    content: '';
    width: calc(100% + 0.5rem);
    height: 1px;
    left: -0.5rem;
    top: calc(-0.25rem - 1px);;
    background: #00000044;
} */
 
.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1rem 0 2rem;
}
/* 
.books .header {
    font-family: 'Raleway', sans-serif;
    font-size: 1.15rem;
    font-weight: 600;
} */

@media screen and (max-width: 1200px) {
    /* .books .header {
        display: none;
    }

    .books .name::before,
    .books .topic::before, 
    .books .authors::before, 
    .books .num-copies::before,
    .books .name:not(:nth-child(1))::after,
    .books .topic:not(:nth-child(2))::after,
    .books .authors:not(:nth-child(3))::after, 
    .books .num-copies:not(:nth-child(4))::after, 
    .books .actions:not(:nth-child(5))::after {
        position: inherit;
        content: inherit;
        width: inherit;
        height: inherit;
        right: inherit;
        background: inherit;
        top: inherit;
    }

    .books {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: repeat(5, auto);

        grid-auto-flow: row;

        gap: 0.25rem 1rem;

        // justify-content: flex-start;
        // align-items: flex-start;

        padding: 0 1rem;
    }

    .books .name, .books .topic, .books .authors, .books .num-copies, .books .actions {
        padding: 0;
        max-width: unset;
    }

    .books .name {
        font-size: 1.35rem;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
    }
    
    .books .topic {
        font-size: 1.15rem;
        font-family: 'Raleway', sans-serif;
        font-style: italic;
    }

    .books .topic::before {
        content: 'Argomento:';
        font-style: normal;
        margin-right: 0.25rem;
    }
    
    .books .authors {
        font-size: 1.15rem;
        font-family: 'Raleway', sans-serif;
        font-style: italic;    
    }

    .books .authors::before {
        content: 'Autori:';
        font-style: normal;
        margin-right: 0.25rem;
    }

    .books .num-copies {
        font-size: 1rem;
        font-family: 'Raleway', sans-serif;
    }

    .books .num-copies::before {
        content: 'Numero copie disponibili:';
        font-style: normal;
        margin-right: 0.25rem;
    }

    .books .actions {
        width: 100%;
        margin: 0.25rem 0 2rem;

        grid-row: 1 / 5;
        grid-column: 2 / 3;
    }

    .books .actions:nth-child(n):after {
        content: '';
        position: absolute;
        top: unset;
        right: unset;
        bottom: -1.25rem;
        width: 100%;
        height: 1px;
        left: 0;
        background: #00000044;
    } */
}

/* PAGE /login */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    min-width: 30rem;

    margin: 1rem 0;

    text-align: center;
}

form > * {
    width: 100%;
}

section {
    font-size: 1.1rem;

    background: #eff0f5;
    border-radius: 8px;
    
    max-width: var(--max-width);
    width: calc(100% - 2rem);
    /* min-width: 80ch; */
    
    padding: 1rem;
    margin: 2rem;

    box-shadow: 0 0 4px #00000018;
}

section h1 {
    font-size: 2rem;
}

section h2 {
    font-size: 1.45rem;
}

section h3 {
    font-size: 0.75rem;
}

section h1, section h2, section h3 {
    text-align: center;
}

section .group {
    margin: 1rem 0;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    gap: 1rem;
}

@media screen and (max-width: 512px) {
    section .group {
        flex-direction: column;
    }
}

ul {
    padding: 0 0 0 2rem;
    margin: 0.5rem 0;
}

a, a:visited {
    color: var(--fg-accent-hover);
}

a:hover {
    color: var(--bg-accent);
}

a .text-dimmed, a:visited .text-dimmed {
    color: var(--bg-accent);
}

a:hover .text-dimmed {
    color: var(--fg-accent-hover);
}

/* Functional */

.h-group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    gap: 1rem;
}

@media screen and (max-width: 512px) {
    .h-group {
        flex-direction: column;
    }
}

.text-smaller {
    font-size: 75%;
}

.text-dimmed {
    color: gray;
    font-style: italic;
}

.text-center {
    text-align: center;
}

.error {
    color: orangered;
}