<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Bibliotechina AulaStud</title>

    {{ template "head-includes.html" . }}
</head>

<body>
    {{ template "navbar.html" . }}
    <main>
        <div id="homepage">
            <div id="homepage-picture">
                <img src="/static/foto-web.jpg">
            </div>
            <div id="homepage-text">
                <h1>La Bibliotechina dell'Aula Studenti</h1>
                <p>
                    La bibliotechina dell'AulaStud raccoglie vecchi libri e dispense stampate dagli studenti nel corso degli anni, ormai è stracolma da anni quindi se ti serve qualcosa prima di stamparla prova a cercarla qui!
                </p>
                <p>
                    Oppure se hai già dato un esame e vuoi sbarazzarti del materiale puoi lasciarlo come contributo all'AulaStud.
                </p>
                <p>
                    Ora è arrivato il momento di decidere cosa fare, scegli come proseguire...
                </p>
                <div id="homepage-buttons">
                    <a class="button primary" href="/libri">Cerca un libro</a>
                    <a class="button" href="/me">Restituisci</a>
                    <a class="button" href="/contribuisci">Contribuisci</a>
                </div>
            </div>
        </div>
    </main>
    <footer>
        &copy; Antonio De Lucreziis 2021
    </footer>

    {{ .ExtraHtml }}
</body>

</html>