<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Libri - Bibliotechina AulaStud</title>

    {{ template "head-includes.html" . }}
</head>

<body id="page-libri">
    {{ template "navbar.html" . }}
    <main>
        <section>
            <div class="search">
                <p>Cerca e scegli un libro da prendere in prestito o da restituire.</p>
                <input type="text" id="search-book" placeholder="Cerca un libro o autore..." autofocus>
            </div>
            <div class="books">
                {{ range .Libri }}
                <div class="book" data-libro-id="{{ .Id }}">
                    <div class="title">
                        <a href="/libro/{{ .Id }}">
                            {{- if .Titolo -}}
                                {{ .Titolo }}
                            {{- else -}}
                                Senza Titolo
                            {{- end -}}
                        </a>
                    </div>
                    <div class="informations">
                        <div class="authors">
                            di
                            {{ if .Autori }}
                                {{ range $i, $autore := .Autori }}{{ if $i }}, {{ end }}{{ .Nome }}{{ end }}
                            {{ else }}
                                <span class="text-dimmed">Sconosciuto</span>
                            {{ end }}
                        </div>
                        {{ if .Argomento }}
                        <div class="category">
                            {{ .Argomento }}
                        </div>
                        {{ end }}
                    </div>
                    <div class="num-copies">
                        <!-- <b>n° copie</b> -->
                        <!-- <br> -->
                        Totali: {{ .NumeroCopie }}
                        <br>
                        Disponibili: ?
                    </div>
                    <!-- <div class="actions"> -->
                        <!-- <a class="button" href="/prendi-in-prestito?book_id={{ .Id }}">Prestito</a> -->
                    <!-- </div> -->
                </div>
                {{ end }}
            </div>
        </section>
    </main>
    <footer>
        &copy; Antonio De Lucreziis 2021
    </footer>

    {{ .ExtraHtml }}

    <script src="/static/search.js"></script>
</body>

</html>