<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Libro - Bibliotechina AulaStud</title>

    {{ template "head-includes.html" . }}
</head>

<body>
    {{ template "navbar.html" . }}
    <main>
        <section>
            <h1>
                {{ if .Libro.Titolo }}
                    {{ .Libro.Titolo }}
                {{ else }}
                    <span class="text-dimmed">Senza Titolo</span>
                {{ end }}
            </h1>
            <p>
                <b>Argomento:</b> 
                {{ if .Libro.Argomento }}
                {{ .Libro.Argomento }}
                {{ else }}
                <span class="text-dimmed">Vuoto</span>
                {{ end }}
            </p>
            <p>
                <b>Copie Totali:</b> 
                {{ .Libro.NumeroCopie }}
            </p>
            <p>
                <b>Copie Disponibili:</b> 
                <span class="{{if le .NumeroCopieDisponibili 0 }}error{{end}}">
                    {{ .NumeroCopieDisponibili }}
                </span>
            </p>
            <p>
                <b>Note:</b> 
                {{ if .Libro.Note }}
                {{ .Libro.Note }}
                {{ else }}
                <span class="text-dimmed">Vuoto</span>
                {{ end }}
            </p>
            {{ if .Libro.Autori }}
            <p>
                <b>Autori:</b>
            </p>
            <ul>
                {{ range .Libro.Autori }}
                <li>{{ .Nome }}</li>
                {{ end }}
            </ul>
            {{ else }}
            <p>
                <b>Autori:</b>
                <span class="text-dimmed">Vuoto</span>
            </p>
            {{ end }}

            <h2>Azioni</h2>
            {{ if gt .NumeroCopieDisponibili 0 }}
            <p class="group">
                <a class="button" href="/prendi-in-prestito?book_id={{ .Libro.Id }}">Prendi in Prestito</a>
            </p>
            {{ else }}
            <p class="text-center">
                Questo libro al momento non è disponibile
            </p>
            {{ end }}

            <h2>Storico Prestiti</h2>

            {{ if .Prestiti }}
            <ul>
                {{ range .Prestiti }}
                <li><code>{{ . | spew }}</code></li>
                {{ end }}
            </ul>
            {{ else }}
            <p class="text-center">
                <span class="text-dimmed">Per ora ancora niente</span>
            </p>
            {{ end }}
            
        </section>
    </main>
    <footer>
        &copy; Antonio De Lucreziis 2021
    </footer>

    {{ .ExtraHtml }}
</body>

</html>