<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Accedi - Bibliotechina AulaStud</title>

    {{ template "head-includes.html" . }}
</head>

<body>
    <div class="nav-wrapper">
        <nav>
            <div class="nav-group">
                <a href="/">
                    <div class="nav-item title">
                        Bibliotechina AulaStud
                    </div>
                </a>
            </div>
            <div class="nav-group">
                <a href="/libri">
                    <div class="nav-item">
                        Libri
                    </div>
                </a>
                <a href="/login">
                    <div class="nav-item">
                        Accedi
                    </div>
                </a>
            </div>
        </nav>
    </div>
    <main>
        <section id="login-section">
            <h1>Accedi</h1>
            <form action="{{ .RequestURI }}" method="POST">
                <input placeholder="Email..." type="text" name="email" autocomplete="email">
                <input placeholder="Password..." type="password" name="password" autocomplete="current-password">
                <input type="submit" value="Accedi">
            </form>
            <p>
                Oppure se non hai ancora un account registrati utilizzando il form qui sotto.
            </p>
            <h2>Registrazione</h2>
            <form action="/register" method="POST">
                <input placeholder="Email..." type="text" name="email" autocomplete="email">
                <input placeholder="Nome Completo..." type="text" name="nome_completo" autocomplete="name">
                <input placeholder="Password..." type="password" name="password" autocomplete="new-password">
                <input placeholder="Reinserisci password..." type="password" name="password_check"
                    autocomplete="new-password">
                <input type="submit" value="Registrati">
            </form>
        </section>
    </main>
    <footer>
        &copy; Antonio De Lucreziis 2021
    </footer>

    {{ .ExtraHtml }}
</body>

</html>