<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Pagina Personale - Bibliotechina AulaStud</title>

    {{ template "head-includes.html" . }}
</head>

<body>
    {{ template "navbar.html" . }}
    <main>
        <section>
            <h1>
                {{ .Titolo }}
            </h1>
            <p>{{ .Messaggio }}</p>
        </section>
    </main>
    <footer>
        &copy; Antonio De Lucreziis 2021
    </footer>

    {{ .ExtraHtml }}
</body>

</html>