<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Pagina Personale - Bibliotechina AulaStud</title>

    {{ template "head-includes.html" . }}
</head>

<body>
    {{ template "navbar.html" . }}
    <main>
        <section>
            <h1>
                {{ .Utente.NomeCompleto }}
            </h1>
            
            <h2>Storico Prestiti</h2>
            {{ if .Prestiti }}
            <!-- <p>Premi su uno dei link degli orari per andare alla pagina del prestito ed eventualmente eseguire il reso.</p> -->
            <ul>
                {{ range .Prestiti }}
                <li>
                    <p>
                        <a href="/prestito/{{ .Id }}">Prestito{{ if not .DataFine }} <b>(ancora da restituire)</b>{{ end }}</a>
                        del 
                        <code>{{ .DataInizio.Format "2006/01/02 15:04:05" }}</code>
                        {{- if .DataFine -}}
                        , restituito il 
                        <code>{{ .DataFine.Format "2006/01/02 15:04:05" }}</code>
                        {{- end }}
                        per il libro
                        <a href="/libro/{{ .LibroConAutori.Id }}">
                            {{- if .LibroConAutori.Titolo -}}
                                "{{ .LibroConAutori.Titolo }}"
                            {{- else -}}
                                "<i>Senza Titolo</i>"
                            {{- end -}}
                        </a>
                        di {{ .LibroConAutori.AutoriInlineString }}.
                    </p>
                </li>
                {{ end }}
            </ul>
            {{ else }}
            <p class="text-center">
                <span class="text-dimmed">Per ora ancora niente</span>
            </p>
            {{ end }}

            <h2>Account</h2>
            <p class="group">
                <a class="button" href="/logout">Logout</a>
                <a class="button" href="/delete_account">Elimina Account</a>
            </p>
        </section>
    </main>
    <footer>
        &copy; Antonio De Lucreziis 2021
    </footer>

    {{ .ExtraHtml }}
</body>

</html>