<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Bibliotechina AulaStud</title>

    {{ template "head-includes.html" . }}
</head>

<body>
    {{ template "navbar.html" . }}
    <main>
        <section>
            <h1 title="{{ .Libro.Id }}">
                Prendi in prestito
                "{{ if .Libro.Titolo }}{{ .Libro.Titolo }}{{ else }}<i>Senza Titolo</i>{{ end }}"
            </h1>
            <p>Sei sicuro di voler prendere questo libro in prestito? Quando avrai finito di utilizzarlo <b>ricordati</b> di rimetterlo nella bibliotechina e eseguire il reso del
                libro dalla tua <i>pagina personale</i>.</p>
            <form class="group" action="/prendi-in-prestito" method="POST">
                <input type="hidden" name="book_id" value="{{ .Libro.Id }}">
                <input class="button" name="cancel" type="submit" value="Annulla">
                <input class="button primary" name="ok" type="submit" value="Conferma Prestito">
            </form>
        </section>
    </main>
    <footer>
        &copy; Antonio De Lucreziis 2021
    </footer>

    {{ .ExtraHtml }}
</body>

</html>