<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Bibliotechina AulaStud</title>

    {{ template "head-includes.html" . }}
</head>

<body>
    {{ template "navbar.html" . }}
    {{ with .Prestito }}
    <main>
        <section>
            <h1>
                {{ if .DataFine }}
                Prestito restituito
                {{ else }}
                Prestito da restituire
                {{ end }}
            </h1>
            <p>
                Prestito effettuato in data {{ .DataInizio.Format "2006/01/02" }} delle {{ .DataInizio.Format "15:04" }} dall'utente <i>{{ .Utente.NomeCompleto }}</i>
                (<a href="mailto:{{.Utente.Email}}">{{.Utente.Email}}</a>)
                per il libro
                <a href="/libro/{{ .LibroConAutori.Id }}">
                    {{- if .LibroConAutori.Titolo -}}
                    "{{ .LibroConAutori.Titolo }}"
                    {{- else -}}
                    "<i>Senza Titolo</i>"
                    {{- end }}
                    di {{ .LibroConAutori.AutoriInlineString -}}
                </a>
                {{ if .DataFine }}
                e restituito in data 
                {{ .DataFine.Format "2006/01/02" }} delle {{ .DataFine.Format "15:04" }}.
                {{ else }}
                e <b>non ancora restituito</b>.
                {{ end }}
            </p>
            {{ if not .DataFine }}
                <p>
                    Quando avrai finito di utilizzarlo <b>ricordati</b> di rimetterlo nella bibliotechina e di eseguire il reso del libro.
                </p>
            {{ end }}
            {{ if not .DataFine }}
            <form class="group" action="/restituisci-prestito" method="POST">
                <input type="hidden" name="prestito_id" value="{{ .Id }}">
                <!-- <input class="button" type="submit" name="cancel" value="Elimina Prestito"> -->
                <input class="button primary" type="submit" name="ok" value="Rendi Libro">
            </form>
            {{ end }}
        </section>
    </main>
    {{ end }}
    <footer>
        &copy; Antonio De Lucreziis 2021
    </footer>

    {{ .ExtraHtml }}
</body>

</html>