<!-- Icons -->
<link rel="icon" type="image/png" href="/static/favicon_io/android-chrome-512x512.png">

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Raleway:wght@400;600&display=swap"
    rel="stylesheet">

<!-- Page -->
<link rel="stylesheet" href="/static/style.css">