{{ if .Utente }}
<a href="/me">
    <div class="nav-item">
        {{ .Utente.NomeCompleto }}
    </div>
</a>
{{ else }}
<a href="/login">
    <div class="nav-item">
        Accedi
    </div>
</a>
{{ end }}