<div class="nav-wrapper">
    <nav>
        <div class="nav-group">
            <a href="/">
                <div class="nav-item title">
                    Bibliotechina AulaStud
                </div>
            </a>
        </div>
        <div class="nav-group">
            <a href="/libri">
                <div class="nav-item">
                    Libri
                </div>
            </a>
            {{ template "nav-utente.html" . }}
        </div>
    </nav>
</div>